* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-60 {
    width: 60%;
    margin: 0 auto;
}

.h-100 {
    height: 100%;
}

.btn {
    border: none;
    background-color: #0061FF;
    color: white;
}

body li {
    list-style: none;
}

.padding-b20 {
    padding-bottom: 20px;
}


.padding-tb30 {
    padding: 30px 0;
}

.padding-l30 {
    padding-left: 30px;
}

.padding-b150 {
    padding-bottom: 150px;
}

.margin-lr30 {
    margin: 0 30px;
}

.fs-14 {
    font-size: 14px;
}

#gray {
    color: #637381;
}
/* HEADER  */

header {
    height: 80px;
    font-weight: bold;
}

.nav-left,
.nav-right {
    width: 50%;
    line-height: 80px;
}

.nav-right{
    text-align: right;
}

nav .nav-left img {
    vertical-align: middle;
}

nav li {
    vertical-align: middle;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: black;
}

.nav-left *,
.nav-right *{
    display: inline;
    padding: 0 10px;
}

/* BANNER  */

.banner {
    width: 100%;
    height: 80vh;
    background-color: #B4D0E7;
    margin-bottom: 100px;
}

.banner-title {
    width: 100%;
    height: 40%;
}

.banner-text {
    width: 30%;
    height: 60%;
}

.banner-img {
    width: 70%;
    height: 71%;
}

.banner .banner-title h1 {
    font-size: 70px;
    padding-top: 60px;
}

.banner .banner-text .banner-btn {
    padding: 30px 0 5px;
}

.banner .banner-text .banner-btn button {
    font-size: 16px;
    padding: 10px 20px;
}

.banner .banner-text i {
    display: block;
    padding-top: 40px;
    font-size: 40px;
}

.banner-img img {
    width: 100%;
    object-fit: contain;
}

/* MAIN  */

/* section 1  */

.section1-top {
    width: 100%;
    padding: 100px 0 30px;
}

.section1-col {
    width: calc((100% / 3) - 20px);
    border: 1px solid  #E0E0E0;
    min-height: 1000px;
    margin-bottom: 50px;
}

.section1-bottom {
    width: 100%;
}

.section1-top h2 {
    font-size: 40px;
    padding-bottom: 50px;
}

.section1-col .col-title,
.section1-bottom .col-title {
    width: 100%;
    border-bottom: 1px solid  #E0E0E0;
    padding: 10px 0;
    text-align: center;
}

.section1-col .col-title h4,
.section1-bottom .col-title h4 {
    display: inline-block;
}

.col-info1 h3,
.bottom-content h3 {
    font-size: 25px;
}

.section1-col span {
    display: block;
}

.section1-col .col-info .plan-price {
    font-weight: bold;
    padding: 10px 0;
}

.section1-col .col-bottom ul li:first-child {
    font-size: 18px;
    font-weight: bold;
}

.section1-col li {
    padding: 15px 0;
}

.section1-col .col-prova-gratis button {
    padding: 10px 50px;
    margin-bottom: 30px;
}

.col-info1 h3, span{
    padding: 10px 0;
}

.col-bottom li i {
    color: #0061FF;                         
}

/* section 1 bottom  */

.section1-bottom {
    border: 1px solid  #E0E0E0;
}

.section1-bottom .bottom-title {
    width: 100%;
}

.section1-bottom .bottom-content {
    width: 75%;
}

.section1-bottom .bottom-btn{
    width: 25%;
}

.bottom-content h3 {
    padding-bottom: 10px;
}

.bottom-content div {
    padding-bottom: 30px;
    font-weight: bold;
}

.wrapper-bottom {
    padding: 30px;
}

.wrapper-bottom .bottom-btn button {
    padding: 10px 50px;
    font-size: 14px;
}

/* section 2  */

.section2-img {
    width: 60%;
}

.section2-text {
    width: 40%;
    padding: 50px 0 0 50px
}

.section2-img img {
    width: 100%;
    object-fit: cover;
}

.section2-text h3 {
    font-size: 25px;
}

.section2-text p {
    line-height: 30px;
}

#section2-btn {
    border: 1px solid black;
    background-color: white;
    padding: 10px 15px;
    font-size: 16px;
}

/* section 3  */

#section3 .row .col {
    width: calc((100% / 3) - 20px);
    padding: 20px;
}

#section3 h1 {
    font-size: 40px;
}

.row .col img {
    max-width: 100%;
}

#section3 .row {
    padding-bottom: 50px;
}



/* debug  */


.debug .col {
    background-color: yellow;
    border: 1px solid black;
}

.debug .row {
    background-color: blue;
}