* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-60 {
    width: 60%;
    margin: 0 auto;
}

.h-100 {
    height: 100%;
}

.btn {
    border: none;
    background-color: #0061FF;
    color: white;
}

/* HEADER  */

header {
    height: 80px;
    font-weight: bold;
}

nav .nav-left *,
nav .nav-right *{
    display: inline;
}

.nav-left,
.nav-right {
    width: 50%;
    line-height: 80px;
}

.nav-right{
    text-align: right;
}

nav .nav-left img {
    vertical-align: middle;
}

nav li {
    vertical-align: middle;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: black;
}

.nav-left *,
.nav-right *{
    padding: 0 10px;
}

/* BANNER  */

.banner {
    width: 100%;
    height: 80vh;
    background-color: #B4D0E7;
    margin-bottom: 100px;
}

.banner-title {
    width: 100%;
    height: 40%;
}

.banner-text {
    width: 30%;
    height: 60%;
}

.banner-img {
    width: 70%;
    height: 71%;
}

.banner .banner-title h1 {
    font-size: 70px;
    padding-top: 60px;
}

.banner .banner-text .banner-btn {
    padding: 20px 0 5px;
}

.banner .banner-text .banner-btn button {
    font-size: 16px;
    padding: 10px 20px;
}

.banner .banner-text i {
    display: block;
    padding-top: 40px;
}

.banner-img img {
    width: 100%;
    object-fit: contain;
}

/* MAIN  */

/* section 1  */

.section1-top {
    width: 100%;
}

.section1-col {
    width: calc(100% / 3);
}

.section1-bottom {
    width: 100%;
}





/* debug  */


.debug header {
    background-color: red;
}

.debug .nav-left {
    background-color: yellow;
}

.debug .nav-right {
    background-color: yellow;
}

.debug a {
    background-color: palevioletred;
}

.debug .wrapper {
    background-color: green;
}

.debug .banner-title {
    background-color: red;
}

.debug .banner-text {
    background-color: yellow;
}

.debug .banner-img {
    background-color: blue;
}

.debug section {
    background-color: gray;
}

.debug .section1-top {
    background-color: red;
}

.debug .section1-col {
    background-color: blue;
    border: 1px solid  green;
    height: 900px;
}

.debug .section1-bottom {
    background-color: blueviolet;
}