* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-60 {
    width: 60%;
    margin: 0 auto;
}

.h-100 {
    height: 100%;
}

.btn {
    border: none;
    background-color: #0061FF;
    color: white;
}

body li {
    list-style: none;
}

.padding-b20 {
    padding-bottom: 20px;
}


.padding-tb30 {
    padding: 30px 0;
}

.padding-l30 {
    padding-left: 30px;
}

.padding-b150 {
    padding-bottom: 150px;
}

.margin-lr30 {
    margin: 0 30px;
}

.fs-14 {
    font-size: 14px;
}

hr {
    width: 50px;
}
 
/* common colors  */

.gray {
    color: #637381;
}

#green {
    background-color: #A2D39B;
}

#red {
    background-color: #FF1C1C;
}

#light-blue {
    background-color: #B4D0E7;
}

#blue {
    background-color: #0093CE;
}

#dark-blue {
    background-color: #0D2481;
}

#purple {
    background-color: #61082B;
}

#yellow {
    background-color: #FFD830;
}

#dark-gray {
    background-color: #F5F5F5;
}

#dark-red {
    background-color: #D5001F;
}

/* HEADER  */

header {
    width: 100%;
    height: 80px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}

 .nav-left,
.nav-right {
    width: 50%;
    line-height: 78px;
}

.nav-right {
    position: relative;
    text-align: right;
}

nav .nav-left img {
    vertical-align: middle;
}

.nav-left > ul > li,
.nav-right > ul > li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    height: 79px;
}

nav li a {
    text-decoration: none;
    color: black;
}

#nav-btn {
    padding: 10px 20px;
}

.submenu {
    position: absolute;
    top: 100%;
    right: 35%;
    display: none;
    width: 200px;
    text-align: center;
    background-color: white;
}

#supporto:hover + .submenu {
    display: block;
}

nav li:hover {
    border-bottom: 1px solid black;
}

/* MAIN  */

/* BANNER  */

.banner {
    width: 100%;
    background-color: #B4D0E7;
    margin-bottom: 100px;
    padding-top: 120px;
}

.banner-text {
    width: 30%;
    height: 100%;
}

.banner-img {
    width: 70%;
    height: 100%;
}

.banner h1 {
    font-size: 70px;
    padding: 60px 0;
}

.banner .banner-text .banner-btn {
    padding: 30px 0 10px;
}

.banner .banner-text .banner-btn button {
    font-size: 16px;
    padding: 10px 20px;
}

.banner .banner-text i {
    display: block;
    padding-top: 40px;
    font-size: 40px;
}

.banner-img img {
    width: 100%;
    object-fit: cover;
}

.banner .banner-text a {
    text-decoration: none;
    color: black;
}

/* section 1  */

.section1-top {
    width: 100%;
    padding: 100px 0 30px;
}

.section1-col {
    width: calc((100% / 3) - 20px);
    border: 1px solid  #E0E0E0;
    min-height: 1000px;
    margin-bottom: 50px;
}

.section1-bottom {
    width: 100%;
}

.section1-top h2 {
    font-size: 40px;
    padding-bottom: 50px;
}

.section1-col .col-title,
.section1-bottom .col-title {
    width: 100%;
    border-bottom: 1px solid  #E0E0E0;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}

.section1-col .col-title div,
.section1-bottom .col-title div {
    display: inline-block;
}

.col-info1 h3,
.bottom-content h3 {
    font-size: 25px;
}

.section1-col span {
    display: block;
}

.section1-col .col-prova-gratis span {
    padding-bottom: 40px;
}

.section1-col .col-bottom ul li:first-child {
    font-size: 18px;
    font-weight: bold;
}

.section1-col li {
    padding: 15px 0;
}

.section1-col .col-prova-gratis button {
    padding: 10px 50px;
    margin-bottom: 30px;
}

.col-info1 h3, 
.col-info1 span{
    padding: 10px 0;
}

.col-bottom li i {
    color: #0061FF;                         
}

/* section 1 bottom  */

.section1-bottom {
    border: 1px solid  #E0E0E0;
}

.section1-bottom .bottom-title {
    width: 100%;
}

.section1-bottom .bottom-content {
    width: 75%;
}

.section1-bottom .bottom-btn{
    width: 25%;
}

.bottom-content h3 {
    padding-bottom: 10px;
}

.bottom-content div {
    padding-bottom: 30px;
    font-weight: bold;
}

.wrapper-bottom {
    padding: 30px;
}

.wrapper-bottom .bottom-btn button {
    padding: 10px 50px;
    font-size: 14px;
}

/* section 2  */

.section2-img {
    width: 60%;
}

.section2-text {
    width: 40%;
    padding: 50px 0 0 50px
}

.section2-img img {
    width: 100%;
    object-fit: cover;
}

.section2-text h3 {
    font-size: 25px;
}

.section2-text p {
    line-height: 30px;
}

#section2-btn {
    border: 1px solid black;
    background-color: white;
    padding: 10px 15px;
    font-size: 16px;
}

/* section 3  */

#section3 .row .col {
    width: calc((100% / 3) - 20px);
    padding: 20px;
}

#section3 h1 {
    font-size: 40px;
}

.row .col img {
    max-width: 100%;
}

#section3 .row {
    padding-bottom: 50px;
}

#section3 .col p span {
    text-decoration: underline;
}

/* section 4  */

#section4 .top .wrapper {
    width: 64%;
    padding-bottom: 40px;
}

#section4 .top .wrapper h1 {
    font-size: 50px;
    padding-bottom: 30px;
}


#section4 .bottom {
    width: 100vw;
}

#section4 .col {
    width: 30vw;
}

#section4 .col-middle {
    width: 40vw;
    height: 30vw;
}

#section4 .col-middle .box{
    width: 100%;
    padding: 60px 50px ;
}

#section4 .col .box {
    position: relative;
    width: 15vw;
    height: 15vw;
}

#section4 .col .box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    filter: invert(1);
}

#section4 .col-middle .box img {
    max-width: 20%;
}

#section4 .bottom-box {
    position: relative;
    width: 100vw;
    height: 40vh;
    background-color: #B4D0E7;
}

#section4 .bottom-box .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section4 .bottom-box .wrapper .text {
    width: 70%;
}

#section4 .bottom-box .wrapper .button-box {
    width: 30%;
}

#section4 .bottom-box .wrapper .text div {
    font-size: 40px;
    font-weight: bold;
    width: 60%;
    color: #61082B;
}

#section4 .bottom-box .wrapper .button-box button {
    background-color: #F5F5F5;
    border: none;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: bold;
}

/* section 5  */

#section5 ul li:first-child {
    font-size: 35px;
    padding-bottom: 30px;
}

#section5 ul li {
    border-bottom: 1px solid #D0D0D3;
    font-weight: bold;
    line-height: 100px;
    font-size: 18px;
}

#section5 ul li i {
    width: 100px;
    line-height: 100px;
    text-align: center;
    float: right;
}

#section5 ul li p {
    display: none;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    padding-bottom: 30px;
}

#section5 ul li i:hover + p {
    display: block;
}
    
/* Footer  */

footer {
    background-color: black;
    padding: 100px 20px;
}

footer .col {
    width: calc(100% / 5);
}

footer .col ul li {
    color: white;
    padding-bottom: 10px;
}

footer .col ul li:first-child {
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: bold;
}

footer .col ul li:last-child {
    padding-bottom: 100px;
}

.footer-bottom {
    color: #C1C8CE;
    padding-top: 50px;
}

footer hr {
    width: 120px;
}

